[
{
  "title":"test temperature",
  "channelid":"your_channel_id",
  "writekey":"your channel write key",
  "data":{
    "d1":{"node":"5198", "type":"temperature"},
    "d2":{"node":"5198", "type":"humidity"},
    "d3":{"node":"5198", "type":"battery"},
    "d4":{"node":"5198", "type":"signal"}
  }
}
]
